{% extends 'base.html.twig' %}

{% block title %}Recrutement index{% endblock %}

{% block body %}
    <h1>Recrutement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Annonce</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recrutement in recrutements %}
            <tr>
                <td>{{ recrutement.id }}</td>
                <td>{{ recrutement.titre }}</td>
                <td>{{ recrutement.annonce }}</td>
                <td>{{ recrutement.date ? recrutement.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('recrutement_show', {'id': recrutement.id}) }}">show</a>
                    <a href="{{ path('recrutement_edit', {'id': recrutement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('recrutement_new') }}">Create new</a>
{% endblock %}
