{% extends 'base.html.twig' %}

{% block title %}Côté Stade{% endblock %}

{% block body %}

    <div class="page-home">

        <section class="hero">
            <div class="hero-video">
                <video autoplay loop>
                    <source src="{{ asset('videos/hero_video.mov') }}" type="video/mp4"/>
                </video>
            </div>
            <div class="hero-content">
                <h1 class="hero-title">Coté Stade</h1>
                <p class="hero-subtitle ">Vos commerces à proximité du Stade de France</p>
                <a href="#" class="btn btn-white hero-button">Je découvre mon quartier</a>
            </div>
        </section>

        <section class="about-us">
            <div class="container">
                <h2 class="about-us-title">Coté Stade est une association de commerces, restaurants et entreprises de
                    quartier</h2>
                <p class="about-us-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus autem, beatae consequuntur
                    distinctio doloribus enim error est expedita explicabo facilis fuga impedit iure molestias nam nisi
                    numquam odio officia optio pariatur perspiciatis quaerat quibusdam ratione rem reprehenderit
                    sapiente
                    sit soluta sunt tempora tempore tenetur totam ullam unde velit voluptate.
                <p>
                <div class="d-flex justify-content-center mt-4">
                    <a href="#" class="btn btn-black">Commerces</a>
                    <a href="#" class="btn btn-black mx-3">Entreprises</a>
                    <a href="#" class="btn btn-black">Restaurants</a>
                </div>
            </div>
        </section>

        <section class="adherents-bar">
            <div class="container">
                <div class="adherents-bar__adherent">
                    {% for restaurant in restaurants %}
                        <a href="#">{{ restaurant.name }}</a> -
                    {% endfor %}
                    {% for restaurant in restaurants %}
                        <a href="#">{{ restaurant.name }}</a> -
                    {% endfor %}
                </div>
                <div class="adherents-bar__adherent">
                    {% for shop in shops %}
                        <a href="#">{{ shop.name }}</a> -
                    {% endfor %}
                    {% for shop in shops %}
                        <a href="#">{{ shop.name }}</a> -
                    {% endfor %}
                </div>
                <div class="adherents-bar__adherent">
                    {% for company in companies %}
                        <a href="#">{{ company.name }}</a> -
                    {% endfor %}
                    {% for company in companies %}
                        <a href="#">{{ company.name }}</a> -
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="home-events py-5">
            <div class="container">
                <header class="home-events__header mt-4">
                    <h2 class="home-events__title">Prochains Évènements</h2>
{#                    <p class="home-events__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus#}
{#                        accusantium adipisci alias aliquid amet asperiores doloribus illum laboriosam maxime nihil#}
{#                        obcaecati, perspiciatis quibusdam quisquam sequi sunt tempore ullam velit. Cum!</p>#}
                </header>
                <div class="home-events__events">
                    <div class="row">
                        {% for event in events %}
                            <div class="col-md-4 mb-4">
                                <a href="{{ path('event_show', {'id': event.id}) }}" class="home-events__event">
                                    <div class="home-events__event-bg">
                                        <img src="images/{{ asset( event.media ) }}" alt="Logo"/>
                                    </div>
                                    <div class="home-events__event-overlay"></div>
                                    <div class="home-events__event-content">
                                        <div href="{{ path('event_show', {'id': event.id}) }}"
                                             class="home-events__event-title">
                                            {{ event.title }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="#" class="btn btn-black">Tous les évènements</a>
            </div>
        </section>


        {# <section class="container-fluid"> #}
        {# <div class="image-bni"> #}
        {# <div class="text-center"> #}
        {# <img class="img-responsive text-center logo" src="{{ asset('images/logo.png') }}" alt=""> #}
        {# <h2 class="site-slogan" style="margin-left: -25px; font-size: 1.5rem;">Le commerce à loisir</h2> #}
        {# </div> #}
        {# </div> #}

        {# <div class="contenu-boutons mt-5"> #}
        {# <div> #}
        {# <div class="menu-button"> #}
        {# <a class="btn btn-primary py-2 px-4" href="{{ path('adherents_menu') }}"> #}
        {# <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" #}
        {# xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489.4 489.4" #}
        {# style="enable-background:new 0 0 489.4 489.4;" xml:space="preserve"><g> #}
        {# <g> #}
        {# <path d="M347.7,263.75h-66.5c-18.2,0-33,14.8-33,33v51c0,18.2,14.8,33,33,33h66.5c18.2,0,33-14.8,33-33v-51 #}
        {# C380.7,278.55,365.9,263.75,347.7,263.75z M356.7,347.75c0,5-4.1,9-9,9h-66.5c-5,0-9-4.1-9-9v-51c0-5,4.1-9,9-9h66.5 #}
        {# c5,0,9,4.1,9,9V347.75z"/> #}
        {# <path d="M489.4,171.05c0-2.1-0.5-4.1-1.6-5.9l-72.8-128c-2.1-3.7-6.1-6.1-10.4-6.1H84.7c-4.3,0-8.3,2.3-10.4,6.1l-72.7,128 #}
        {# c-1,1.8-1.6,3.8-1.6,5.9c0,28.7,17.3,53.3,42,64.2v211.1c0,6.6,5.4,12,12,12h66.3c0.1,0,0.2,0,0.3,0h93c0.1,0,0.2,0,0.3,0h221.4 #}
        {# c6.6,0,12-5.4,12-12v-209.6c0-0.5,0-0.9-0.1-1.3C472,224.55,489.4,199.85,489.4,171.05z M91.7,55.15h305.9l56.9,100.1H34.9 #}
        {# L91.7,55.15z M348.3,179.15c-3.8,21.6-22.7,38-45.4,38c-22.7,0-41.6-16.4-45.4-38H348.3z M232,179.15c-3.8,21.6-22.7,38-45.4,38 #}
        {# s-41.6-16.4-45.5-38H232z M24.8,179.15h90.9c-3.8,21.6-22.8,38-45.5,38C47.5,217.25,28.6,200.75,24.8,179.15z M201.6,434.35h-69 #}
        {# v-129.5c0-9.4,7.6-17.1,17.1-17.1h34.9c9.4,0,17.1,7.6,17.1,17.1v129.5H201.6z M423.3,434.35H225.6v-129.5 #}
        {# c0-22.6-18.4-41.1-41.1-41.1h-34.9c-22.6,0-41.1,18.4-41.1,41.1v129.6H66v-193.3c1.4,0.1,2.8,0.1,4.2,0.1 #}
        {# c24.2,0,45.6-12.3,58.2-31c12.6,18.7,34,31,58.2,31s45.5-12.3,58.2-31c12.6,18.7,34,31,58.1,31c24.2,0,45.5-12.3,58.1-31 #}
        {# c12.6,18.7,34,31,58.2,31c1.4,0,2.7-0.1,4.1-0.1L423.3,434.35L423.3,434.35z M419.2,217.25c-22.7,0-41.6-16.4-45.4-38h90.9 #}
        {# C460.8,200.75,441.9,217.25,419.2,217.25z"/> #}
        {# </g> #}
        {# </g> #}
        {# </svg> #}
        {# Vos Commerces #}
        {# </a> #}
        {# </div> #}
        {# <div class="menu-button"> #}
        {# <a class="btn btn-primary py-2 px-4" href="{{ path('about') }}"> #}
        {# <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" #}
        {# xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" #}
        {# viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> #}
        {# <g> #}
        {# <g> #}
        {# <path d="M256,0C114.497,0,0,114.507,0,256c0,141.503,114.507,256,256,256c141.503,0,256-114.507,256-256 #}
        {# C512,114.497,397.492,0,256,0z M256,472c-119.393,0-216-96.615-216-216c0-119.393,96.615-216,216-216 #}
        {# c119.393,0,216,96.615,216,216C472,375.393,375.384,472,256,472z"/> #}
        {# </g> #}
        {# </g> #}
        {# <g> #}
        {# <g> #}
        {# <path d="M256,214.33c-11.046,0-20,8.954-20,20v128.793c0,11.046,8.954,20,20,20s20-8.955,20-20.001V234.33 #}
        {# C276,223.284,267.046,214.33,256,214.33z"/> #}
        {# </g> #}
        {# </g> #}
        {# <g> #}
        {# <g> #}
        {# <circle cx="256" cy="162.84" r="27"/> #}
        {# </g> #}
        {# </g> #}
        {# </svg> #}
        {# Qui Sommes-Nous #}
        {# </a> #}
        {# </div> #}
        {# </div> #}
        {# <div> #}
        {# <div class="menu-button"> #}
        {# <a class="btn btn-primary py-2 px-4" href="{{ path('events_to_come') }}"> #}
        {# <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" #}
        {# xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" #}
        {# viewBox="0 0 433.633 433.633" style="enable-background:new 0 0 433.633 433.633;" #}
        {# xml:space="preserve"> #}
        {# <g> #}
        {# <g> #}
        {# <g> #}
        {# <path d="M388.749,47.038c-0.886-0.036-1.773-0.042-2.66-0.017h-33.437V18.286C352.653,6.792,341.681,0,330.187,0h-30.824 #}
        {# c-11.494,0-19.853,6.792-19.853,18.286V47.02H154.122V18.286C154.122,6.792,145.763,0,134.269,0h-30.825 #}
        {# C91.951,0,80.979,6.792,80.979,18.286V47.02H47.543C26.199,46.425,8.414,63.246,7.819,84.589 #}
        {# c-0.025,0.886-0.019,1.774,0.017,2.66v301.975c0,22.988,16.718,44.408,39.706,44.408H386.09c22.988,0,39.706-21.42,39.706-44.408 #}
        {# V87.249C426.67,65.915,410.083,47.912,388.749,47.038z M299.363,20.898h32.392v57.469h-32.392V20.898z M103.445,20.898h29.78 #}
        {# v57.469h-29.78V20.898z M404.898,389.224c0,11.494-7.314,23.51-18.808,23.51H47.543c-11.494,0-18.808-12.016-18.808-23.51 #}
        {# V167.184h376.163V389.224z M404.898,87.249v59.037H28.734V87.249c-0.885-9.77,6.318-18.408,16.088-19.293 #}
        {# c0.904-0.082,1.814-0.094,2.72-0.037h33.437v11.494c0,11.494,10.971,19.853,22.465,19.853h30.825 #}
        {# c10.672,0.293,19.56-8.122,19.853-18.794c0.01-0.353,0.01-0.706,0-1.059V67.918H279.51v11.494 #}
        {# c-0.293,10.672,8.122,19.56,18.794,19.853c0.353,0.01,0.706,0.01,1.059,0h30.825c11.494,0,22.465-8.359,22.465-19.853V67.918 #}
        {# h33.437c9.791-0.617,18.228,6.82,18.845,16.611C404.992,85.435,404.98,86.345,404.898,87.249z"/> #}
        {# <path d="M158.824,309.812l-9.404,52.245c-0.372,2.241-0.004,4.543,1.049,6.556c2.675,5.113,8.989,7.09,14.102,4.415l47.02-24.555 #}
        {# l47.02,24.555l4.702,1.045c2.267,0.04,4.48-0.698,6.269-2.09c3.123-2.281,4.73-6.099,4.18-9.927l-9.404-52.245l38.139-36.571 #}
        {# c2.729-2.949,3.719-7.109,2.612-10.971c-1.407-3.57-4.577-6.145-8.359-6.792l-52.245-7.837l-23.51-47.543 #}
        {# c-1.025-2.116-2.733-3.825-4.849-4.849c-5.194-2.515-11.443-0.344-13.959,4.849l-23.51,47.543l-52.245,7.837 #}
        {# c-3.782,0.646-6.952,3.222-8.359,6.792c-1.107,3.862-0.116,8.022,2.612,10.971L158.824,309.812z M187.559,267.494 #}
        {# c3.281-0.491,6.061-2.675,7.314-5.747l16.718-33.437l16.718,33.437c1.254,3.072,4.033,5.256,7.314,5.747l37.094,5.224 #}
        {# l-26.645,25.6c-2.482,2.457-3.646,5.949-3.135,9.404l6.269,37.094l-32.914-17.763l-4.702-1.045l-4.702,1.045l-32.914,17.763 #}
        {# l6.269-37.094c0.512-3.455-0.653-6.947-3.135-9.404l-26.645-25.6L187.559,267.494z"/> #}
        {# </g> #}
        {# </g> #}
        {# </g> #}
        {# </svg> #}
        {# Évènements #}
        {# </a> #}
        {# </div> #}
        {# <div class="menu-button"> #}
        {# <a class="btn btn-primary py-2 px-4" href="{{ path('contact') }}"> #}
        {# <svg id="Layer_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" #}
        {# width="512" xmlns="http://www.w3.org/2000/svg"> #}
        {# <g> #}
        {# <path d="m509.068 91.322-88.39-88.39c-2.03-2.04-4.86-3.09-7.72-2.91-2.87.19-5.52 1.6-7.27 3.88l-20.76 26.97c-30.65-5.46-60.72 4.84-85.339 29.42l-19.76 18.95c-.88-.5-24.74-15.48-29.1-17.82-50.28-26.97-64.699-31.06-110.179-31.3-4.31-.02-9.4.5-13.29 1l-20.95-27.22c-1.75-2.28-4.4-3.69-7.27-3.88s-5.69.87-7.72 2.91l-88.39 88.39c-2.04 2.03-3.1 4.84-2.91 7.71s1.6 5.53 3.88 7.28l26.97 20.76c-5.46 30.65 4.84 60.72 29.42 85.34l67.889 70.78c1.44 9.58 7.85 49.85 9.11 56.68 1.17 6.25 2.55 13.29 3.97 18.05 8.12 26.86 14.1 44.24 22.44 59.09 8.01 14.23 17.51 24.95 33.34 40.95 3.2 3.21 6.87 6.17 9.71 8.39l.39.3-4.43 34.06c-.37 2.85.5 5.73 2.4 7.89s4.64 3.4 7.51 3.4h125.009c2.87 0 5.61-1.24 7.51-3.4s2.77-5.04 2.4-7.89l-4.39-33.75c6.54-4.57 12.4-9.92 17.42-15.9 3.54-4.22 2.99-10.54-1.24-14.09-1.8-1.51-4.08-2.34-6.42-2.34-2.97 0-5.76 1.3-7.66 3.57-4.45 5.29-9.72 9.93-15.7 13.8-.002.001-.004.002-.005.003l-108.453.127c-1.06-.79-8.32-6.71-9.83-8.24-14.57-14.72-23.23-24.44-30.13-36.69-6.46-11.44-12.07-26.37-20.72-55.06-.83-2.68-2.11-8.62-3.45-15.91-3.3-17.85-11.96-75.89-11.96-76.02 0-1.34 1.07-2.49 2.39-2.55.57-.04 1.13-.06 1.71-.06 11.5 0 21.5 8.2 23.78 19.5l13.32 65.56c.94 4.64 5.06 8.01 9.79 8.01.33 0 .67-.02 1.01-.05 2.47-.25 4.74-1.4 6.41-3.24 1.67-1.85 2.59-4.23 2.59-6.71v-209.001c0-3.37 1.32-6.55 3.7-8.96 2.43-2.42 5.52-3.7 8.92-3.7 6.942.01 12.605 5.677 12.629 12.636 0 .008-.001 180.397-.001 180.397 0 5.523 4.477 10 10 10s10-4.477 10-10l.002-204.382c0-3.42 1.28-6.52 3.7-8.96 2.43-2.41 6.92-3.62 10.32-3.62 2.85.32 5.43 1.62 7.53 3.81.88.93 1.62 1.96 2.19 3.07.99 1.9 1.51 4.02 1.51 6.21l-.002 203.872c0 5.523 4.229 10 9.751 10s9.751-4.477 9.751-10v-180.334c0-.013.251-.026.251-.039 0-3.37 1.445-6.56 3.824-8.96 2.43-2.42 5.582-3.7 8.982-3.7 6.95.01 12.651 5.69 12.661 12.66l-2.569 180.178c-.107 5.521 4.289 10.085 9.811 10.192.066.001.136.002.202.002 5.432 0 10.015-4.35 10.121-9.806l2.717-132.896v-.19c0-3.37 1.195-6.55 3.575-8.96 2.44-2.42 5.457-3.7 8.867-3.7 6.9.01 12.539 5.66 12.589 12.58l-3.766 179.909c-.06 2.67.922 5.2 2.762 7.13 1.85 1.93 4.336 3.02 7.006 3.08 2.7.05 5.268-.97 7.198-2.85 1.89-1.85 2.959-4.31 3.009-6.94l.89-42.62c.07-.05 13.734-11.503 19.273-16.281 20.628-17.796 39.126-35.371 47.096-49.608 28.41-50.81 31.14-65.27 31.38-110.34.02-4.29-.5-9.4-1-13.29l27.22-20.95c2.28-1.75 3.69-4.4 3.88-7.27.189-2.88-.871-5.69-2.911-7.719zm-282.468 380.802 97.04-.114 2.6 19.99h-102.23zm-201.478-374.713 72.289-72.29 12.22 15.889-68.539 68.7zm215.678-12.829c-4.71 4.7-7.83 10.634-9.02 17.184-4.15-1.83-8.58-2.766-13.16-2.766h-.01c-4.39 0-8.66.866-12.7 2.576-3.9 1.66-7.39 4.013-10.36 7.003-2.99 2.98-5.34 6.481-6.99 10.381-1.7 4.04-2.56 8.321-2.56 12.711v125.77c-4-5.99-9.4-10.98-15.72-14.43-6.47-3.54-13.8-5.41-21.19-5.41-1.04 0-2.08.04-3.1.11-5.77.41-11.09 2.97-14.99 7.19-2.04 2.21-3.6 4.77-4.61 7.53l-51.74-53.94c-.05-.05-.1-.1-.15-.15-20.489-20.489-28.749-45.357-23.441-70.305l76.615-76.795c3.62-.51 8.967-1.129 12.775-1.119 40.2.21 51.32 2.37 100.829 28.92.95.51 2.13 1.21 3.56 2.09-1.438 1.03-2.778 2.18-4.038 3.45zm192.239 156.549c-7.46 13.33-30.559 33.96-48.349 49.08l2.31-110.85v-.21c0-8.72-3.4-17.166-9.55-23.336-6.16-6.17-14.35-9.816-23.07-9.816h-.02c-4.36 0-8.359 1.341-12.359 3.031v-17.36c0-8.72-3.525-16.926-9.675-23.096-6.161-6.168-14.486-9.574-23.206-9.574h-.01c-4.59 0-9.04.946-13.22 2.806-.53-2.72-1.38-5.337-2.54-7.817l20.16-19.339.15-.149c20.489-20.489 45.357-28.748 70.305-23.44l76.795 76.615c.51 3.62 1.13 8.967 1.12 12.776-.212 40.109-1.311 51.449-28.841 100.679zm37.95-131.5-68.7-68.539 12.3-15.97 72.289 72.29z"/> #}
        {# <circle cx="371.164" cy="404.09" r="10"/> #}
        {# </g> #}
        {# </svg> #}
        {# Nous Rejoindre #}
        {# </a> #}
        {# </div> #}
        {# </div> #}

        {# </div> #}

        {# <div class="home-footer py-2 mt-5"> #}
        {# <div class="home-social"> #}
        {# <a href="https://www.facebook.com/cotestade93/"> #}
        {# <svg viewBox="-110 1 511 511.99996" xmlns="http://www.w3.org/2000/svg"> #}
        {# <path d="m180 512h-81.992188c-13.695312 0-24.835937-11.140625-24.835937-24.835938v-184.9375h-47.835937c-13.695313 0-24.835938-11.144531-24.835938-24.835937v-79.246094c0-13.695312 11.140625-24.835937 24.835938-24.835937h47.835937v-39.683594c0-39.347656 12.355469-72.824219 35.726563-96.804688 23.476562-24.089843 56.285156-36.820312 94.878906-36.820312l62.53125.101562c13.671875.023438 24.792968 11.164063 24.792968 24.835938v73.578125c0 13.695313-11.136718 24.835937-24.828124 24.835937l-42.101563.015626c-12.839844 0-16.109375 2.574218-16.808594 3.363281-1.152343 1.308593-2.523437 5.007812-2.523437 15.222656v31.351563h58.269531c4.386719 0 8.636719 1.082031 12.289063 3.121093 7.878906 4.402344 12.777343 12.726563 12.777343 21.722657l-.03125 79.246093c0 13.6875-11.140625 24.828125-24.835937 24.828125h-58.46875v184.941406c0 13.695313-11.144532 24.835938-24.839844 24.835938zm-76.8125-30.015625h71.632812v-193.195313c0-9.144531 7.441407-16.582031 16.582032-16.582031h66.726562l.027344-68.882812h-66.757812c-9.140626 0-16.578126-7.4375-16.578126-16.582031v-44.789063c0-11.726563 1.191407-25.0625 10.042969-35.085937 10.695313-12.117188 27.550781-13.515626 39.300781-13.515626l36.921876-.015624v-63.226563l-57.332032-.09375c-62.023437 0-100.566406 39.703125-100.566406 103.609375v53.117188c0 9.140624-7.4375 16.582031-16.578125 16.582031h-56.09375v68.882812h56.09375c9.140625 0 16.578125 7.4375 16.578125 16.582031zm163.0625-451.867187h.003906zm0 0"/> #}
        {# </svg> #}
        {# </a> #}
        {# <a href="https://twitter.com/cote_stade"> #}
        {# <svg viewBox="0 -47 512.00004 512" xmlns="http://www.w3.org/2000/svg"> #}
        {# <path d="m512 55.964844c-32.207031 1.484375-31.503906 1.363281-35.144531 1.667968l19.074219-54.472656s-59.539063 21.902344-74.632813 25.820313c-39.640625-35.628907-98.5625-37.203125-140.6875-11.3125-34.496094 21.207031-53.011719 57.625-46.835937 100.191406-67.136719-9.316406-123.703126-41.140625-168.363282-94.789063l-14.125-16.964843-10.554687 19.382812c-13.339844 24.492188-17.769531 52.496094-12.476563 78.851563 2.171875 10.8125 5.863282 21.125 10.976563 30.78125l-12.117188-4.695313-1.4375 20.246094c-1.457031 20.566406 5.390625 44.574219 18.320313 64.214844 3.640625 5.53125 8.328125 11.605469 14.269531 17.597656l-6.261719-.960937 7.640625 23.199218c10.042969 30.480469 30.902344 54.0625 57.972657 67.171875-27.035157 11.472657-48.875 18.792969-84.773438 30.601563l-32.84375 10.796875 30.335938 16.585937c11.566406 6.324219 52.4375 27.445313 92.820312 33.78125 89.765625 14.078125 190.832031 2.613282 258.871094-58.664062 57.308594-51.613282 76.113281-125.03125 72.207031-201.433594-.589844-11.566406 2.578125-22.605469 8.921875-31.078125 12.707031-16.964844 48.765625-66.40625 48.84375-66.519531zm-72.832031 48.550781c-10.535157 14.066406-15.8125 32.03125-14.867188 50.578125 3.941407 77.066406-17.027343 136.832031-62.328125 177.628906-52.917968 47.660156-138.273437 66.367188-234.171875 51.324219-17.367187-2.722656-35.316406-8.820313-50.171875-14.910156 30.097656-10.355469 53.339844-19.585938 90.875-37.351563l52.398438-24.800781-57.851563-3.703125c-27.710937-1.773438-50.785156-15.203125-64.96875-37.007812 7.53125-.4375 14.792969-1.65625 22.023438-3.671876l55.175781-15.367187-55.636719-13.625c-27.035156-6.621094-42.445312-22.796875-50.613281-35.203125-5.363281-8.152344-8.867188-16.503906-10.96875-24.203125 5.578125 1.496094 12.082031 2.5625 22.570312 3.601563l51.496094 5.09375-40.800781-31.828126c-29.398437-22.929687-41.179687-57.378906-32.542969-90.496093 91.75 95.164062 199.476563 88.011719 210.320313 90.527343-2.386719-23.183593-2.449219-23.238281-3.074219-25.445312-13.886719-49.089844 16.546875-74.015625 30.273438-82.453125 28.671874-17.621094 74.183593-20.277344 105.707031 8.753906 6.808593 6.265625 16.015625 8.730469 24.632812 6.589844 7.734375-1.921875 14.082031-3.957031 20.296875-6.171875l-12.9375 36.945312 16.515625.011719c-3.117187 4.179688-6.855469 9.183594-11.351562 15.183594zm0 0"/> #}
        {# </svg> #}
        {# </a> #}
        {# <a href="https://www.linkedin.com/in/cote-stade-2b794a203/"> #}
        {# <svg enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" #}
        {# width="512" #}
        {# xmlns="http://www.w3.org/2000/svg"> #}
        {# <g> #}
        {# <path d="m7.813 509.935h132.571v-348.613h-132.571zm30-318.613h72.571v288.612h-72.571z"/> #}
        {# <path d="m74.099 2.065c-40.859 0-74.099 33.241-74.099 74.099s33.24 74.1 74.099 74.1 74.1-33.241 74.1-74.1-33.242-74.099-74.1-74.099zm-44.099 74.099c0-24.316 19.782-44.099 44.099-44.099s44.1 19.782 44.1 44.099-19.783 44.1-44.1 44.1-44.099-19.784-44.099-44.1z"/> #}
        {# <path d="m511.679 270.79c-4.718-67.855-61.318-120.144-131.489-120.144-31.387 0-61.016 10.912-84.361 30.274v-19.6h-127.03v348.613h132.572v-190.664c0-21.488 17.481-38.97 38.97-38.97 21.487 0 38.969 17.482 38.969 38.979l.128 190.656h132.562v-238.822zm-240.308 209.145h-72.572v-288.614h67.029v42.847l24.005.138 4.46-6.924c18.85-29.265 50.961-46.735 85.897-46.735 55.836 0 100.543 42.602 101.78 96.985l.03 202.303h-72.582l-.108-160.666c0-38.03-30.94-68.97-68.969-68.97-38.03 0-68.97 30.94-68.97 68.97z"/> #}
        {# </g> #}
        {# </svg> #}
        {# </a> #}
        {# </div> #}
        {# <a class="add-to-home" href="{{ path('raccourci') }}">Comment créer un raccourci ?</a> #}
        {# </div> #}

        {# </section> #}

    </div>
    {# <section class="slides-home"> #}
    {# <div class="slideshow-container"> #}

    {# <div class="mySlides fade"> #}

    {# <div class="slide-info"> #}
    {# <div><p>Marquez l'événement avec nos boutique !</p></div> #}
    {# <a href="{{ path('home') }}"> Plus d'info</a> #}
    {# </div> #}
    {# <img src="{{ asset('images/img-602066084994b.jpeg') }}" style="width:100%"> #}

    {# </div> #}

    {# <div class="mySlides fade"> #}
    {# <div class="slide-info"> #}
    {# <div><p>Marquez l'événement avec nos Entrprise !</p></div> #}
    {# <a href="{{ path('home') }}"> Plus d'info</a> #}
    {# </div> #}
    {# <img src="{{ asset('images/fond-stadedefrance.jpg') }}" style="width:100%"> #}

    {# </div> #}

    {# <div class="mySlides fade"> #}
    {# <div class="slide-info"> #}
    {# <div><p> Marquez l'événement avec nos commerces !</p></div> #}
    {# <a href="{{ path('home') }}"> Plus d'info</a> #}
    {# </div> #}
    {# <img src="{{ asset('images/img-602a8f5c80861.jpeg') }}" style="width:100%"> #}

    {# </div> #}

    {# <!-- Next and previous buttons --> #}
    {# <a class="prev" onclick="plusSlides(-1)">&#10094;</a> #}
    {# <a class="next" onclick="plusSlides(1)">&#10095;</a> #}
    {# </div> #}
    {# <br> #}

    {# <!-- The dots/circles --> #}
    {# <div style="text-align:center"> #}
    {# <span class="dot" onclick="currentSlide(1)"></span> #}
    {# <span class="dot" onclick="currentSlide(2)"></span> #}
    {# <span class="dot" onclick="currentSlide(3)"></span> #}
    {# </div> #}
    {# </section> #}
{% endblock %}
