{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="page-home">

        <section class="hero">
            <div class="hero-video">
                <video autoplay loop>
                    <source src="{{ asset('videos/hero_video.mov') }}" type="video/mp4"/>
                </video>
            </div>
            <div class="hero-content">
                <h1 class="hero-title">Côté Stade</h1>
                <p class="hero-subtitle ">Vos commerces à proximité du Stade de France</p>
                <a href="#" class="btn btn-white hero-button">Je découvre mon quartier</a>
            </div>
        </section>

        <section class="about-us">
            <div class="container">
                <h2 class="about-us-title">Côté Stade est une association de commerces, restaurants et entreprises de
                    quartier</h2>
                <p class="about-us-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus autem, beatae consequuntur
                    distinctio doloribus enim error est expedita explicabo facilis fuga impedit iure molestias nam nisi
                    numquam odio officia optio pariatur perspiciatis quaerat quibusdam ratione rem reprehenderit
                    sapiente
                    sit soluta sunt tempora tempore tenetur totam ullam unde velit voluptate.
                <p>
                <div class="d-flex justify-content-center mt-4">
                    <a href="{{ path('shops') }}" class="btn btn-black">Commerces</a>
                    <a href="{{ path('companies') }}" class="btn btn-black mx-3">Entreprises</a>
                    <a href="{{ path('restaurants') }}" class="btn btn-black">Restaurants</a>
                </div>
            </div>
        </section>

        <section class="adherents-bar">
            <div class="container">
                <div class="adherents-bar__adherent">
                    {% for restaurant in allRestaurants %}
                        <div><a href="#">{{ restaurant.name }}</a> -</div>
                    {% endfor %}
                    {% for restaurant in allRestaurants %}
                        <div><a href="#">{{ restaurant.name }}</a> -</div>
                    {% endfor %}
                </div>
                <div class="adherents-bar__adherent">
                    {% for shop in allShops %}
                        <div><a href="#">{{ shop.name }}</a> -</div>
                    {% endfor %}
                    {% for shop in allShops %}
                        <div><a href="#">{{ shop.name }}</a> -</div>
                    {% endfor %}
                </div>
                <div class="adherents-bar__adherent">
                    {% for company in allCompanies %}
                        <div><a href="#">{{ company.name }}</a> -</div>
                    {% endfor %}
                    {% for company in allCompanies %}
                        <div><a href="#">{{ company.name }}</a> -</div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="home-events py-5">
            <div class="container">
                <header class="home-events__header mt-4">
                    <h2 class="section-title">Prochains Évènements</h2>
                    {# <p class="home-events__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus #}
                    {# accusantium adipisci alias aliquid amet asperiores doloribus illum laboriosam maxime nihil #}
                    {# obcaecati, perspiciatis quibusdam quisquam sequi sunt tempore ullam velit. Cum!</p> #}
                </header>
                <div class="home-events__events">
                    <div class="row">
                        {% for event in events %}
                            <div class="col-md-4 mb-4">
                                <a href="{{ path('event_show', {'id': event.id}) }}" class="event-card">
                                    <div class="event-card__bg">
                                        <img src="{{ asset( 'images/' ~ event.media ) }}" alt="Logo"/>
                                    </div>
                                    <div class="event-card__overlay"></div>
                                    <div class="event-card__content">
                                        <div class="event-card__title">
                                            {{ event.title }}
                                        </div>
                                        <div class="event-card__date">
                                            {{ event.date|date("m/d/Y") }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="{{ path('events_to_come') }}" class="btn btn-black">Tous les évènements à venir</a>
            </div>
        </section>

        <section class="home-shops py-5">
            <div class="container">
                <header class="home-events__header mt-4">
                    <h2 class="section-title">Les commerces Côté Stade</h2>
                </header>
                <div class="row">
                    {% for shop in shops %}
                        <div class="col-md-4 mb-4">
                            <div class="shop-card">
                                <a href="{{ path('adherent_show', {'id': shop.id}) }}" class="shop-card__thumbnail">
                                    <img src="{{ asset( 'images/' ~ shop.background ) }}" alt="Logo"/>
                                </a>
                                <div class="shop-card__content">
                                    <div class="shop-card__content-header">
                                        <h3 class="shop-card__title">{{ shop.name }}</h3>
                                        <div class="shop-card__address">{{ shop.address }}</div>
                                    </div>
                                    <div class="shop-card__content-main">
                                        <div class="shop-card__description">
                                            {{ shop.description|slice(0, 100) }}
                                            <a href="{{ path('adherent_show', {'id': shop.id}) }}">[...]</a>
                                        </div>
                                    </div>
{#                                    <div class="shop-card__content-footer">#}
{#                                        <div class="shop-card__links">#}
{#                                            <a href="{{ path('adherent_show', {'id': shop.id}) }}">#}
{#                                                <svg class="shop-card__icon icon icon-md"#}
{#                                                     viewBox="0 0 489.935 489.935"#}
{#                                                     xml:space="preserve">#}
{#                                                    <g>#}
{#                                                        <path d="M486.617,255.067c4.6-6.3,4.4-14.9-0.5-21c-74.1-91.1-154.1-137.3-237.9-137.3c-142.1,0-240.8,132.4-244.9,138#}
{#                                                        c-4.6,6.3-4.4,14.9,0.5,21c74,91.2,154,137.4,237.8,137.4C383.717,393.167,482.417,260.767,486.617,255.067z M241.617,358.867#}
{#                                                        c-69.8,0-137.8-38.4-202.4-114c25.3-29.9,105.7-113.8,209-113.8c69.8,0,137.8,38.4,202.4,114#}
{#                                                        C425.317,274.967,344.917,358.867,241.617,358.867z"/>#}
{#                                                        <path d="M244.917,157.867c-48,0-87.1,39.1-87.1,87.1s39.1,87.1,87.1,87.1s87.1-39.1,87.1-87.1S292.917,157.867,244.917,157.867z#}
{#                                                         M244.917,297.767c-29.1,0-52.8-23.7-52.8-52.8s23.7-52.8,52.8-52.8s52.8,23.7,52.8,52.8S274.017,297.767,244.917,297.767z"/>#}
{#                                                    </g>#}
{#                                                </svg>#}
{#                                            </a>#}
{#                                            <a href="{{ path('adherent_show', {'id': shop.id}) }}">#}
{#                                                <svg class="shop-card__icon icon icon-sm" x="0px" y="0px"#}
{#                                                     viewBox="0 0 476.16 476.16"#}
{#                                                     style="enable-background:new 0 0 476.16 476.16;"#}
{#                                                     xml:space="preserve">#}
{#                                                    <g>#}
{#                                                        <g>#}
{#                                                            <path fill="#222222" d="M260.113,0.256c27.11,39.264,48.236,82.339,62.686,127.812c33.065-5.187,64.911-16.343,93.986-32.922l8.533-5.291#}
{#                                                                C384.841,38.629,325.127,6.243,260.113,0.256z"/>#}
{#                                                        </g>#}
{#                                                    </g>#}
{#                                                    <g>#}
{#                                                        <g>#}
{#                                                            <path fill="#222222" d="M297.813,166.4c-19.83,2.271-39.774,3.411-59.733,3.413c-19.96-0.003-39.903-1.142-59.733-3.413#}
{#                                                                c-4.213,17.945-6.896,36.215-8.021,54.613h135.509C304.71,202.615,302.026,184.345,297.813,166.4z"/>#}
{#                                                        </g>#}
{#                                                    </g>#}
{#                                                    <g>#}
{#                                                        <g>#}
{#                                                            <path fill="#222222" d="M238.08,340.48c-16.816,0.015-33.62,0.886-50.347,2.611c12.305,36.743,29.223,71.776,50.347,104.26#}
{#                                                                c21.124-32.484,38.041-67.518,50.347-104.26C271.7,341.366,254.896,340.495,238.08,340.48z"/>#}
{#                                                        </g>#}
{#                                                    </g>#}
{#                                                    <g>#}
{#                                                        <g>#}
{#                                                            <path fill="#222222" d="M339.831,255.147c-1.04,20.137-3.763,40.153-8.141,59.836c36.337,6.036,71.283,18.595,103.151,37.069l9.643,6.007#}
{#                                                                c18.303-31.424,29.141-66.634,31.676-102.912H339.831z"/>#}
{#                                                        </g>#}
{#                                                    </g>#}
{#                                                    <g>#}
{#                                                        <g>#}
{#                                                            <path fill="#222222" d="M444.484,118.118l-9.643,6.008c-31.862,18.504-66.808,31.091-103.151,37.154c4.372,19.65,7.095,39.63,8.141,59.733H476.16#}
{#                                                                C473.622,184.741,462.785,149.538,444.484,118.118z"/>#}
{#                                                        </g>#}
{#                                                    </g>#}
{#                                                    <g>#}
{#                                                        <g>#}
{#                                                            <path fill="#222222" d="M170.325,255.147c1.135,18.4,3.83,36.67,8.055,54.613c39.693-4.534,79.773-4.534,119.467,0#}
{#                                                                c4.202-17.946,6.874-36.216,7.987-54.613H170.325z"/>#}
{#                                                        </g>#}
{#                                                    </g>#}
{#                                                    <g>#}
{#                                                        <g>#}
{#                                                            <path fill="#222222" d="M41.318,124.126l-9.643-6.008C13.375,149.538,2.538,184.741,0,221.013h136.329c1.046-20.103,3.769-40.084,8.141-59.733#}
{#                                                                C108.127,155.217,73.18,142.63,41.318,124.126z"/>#}
{#                                                        </g>#}
{#                                                    </g>#}
{#                                                    <g>#}
{#                                                        <g>#}
{#                                                            <path fill="#222222" d="M153.361,348.109c-33.062,5.189-64.907,16.338-93.986,32.905l-8.533,5.308c40.474,51.228,100.192,83.61,165.205,89.583#}
{#                                                                C188.933,436.648,167.807,393.579,153.361,348.109z"/>#}
{#                                                        </g>#}
{#                                                    </g>#}
{#                                                    <g>#}
{#                                                        <g>#}
{#                                                            <path fill="#222222" d="M238.08,28.826c-21.121,32.48-38.038,67.507-50.347,104.243c16.726,1.734,33.531,2.605,50.347,2.611#}
{#                                                                c16.816-0.006,33.62-0.878,50.347-2.611C276.118,96.333,259.201,61.306,238.08,28.826z"/>#}
{#                                                        </g>#}
{#                                                    </g>#}
{#                                                    <g>#}
{#                                                        <g>#}
{#                                                            <path fill="#222222" d="M416.785,381.013c-29.079-16.566-60.924-27.715-93.986-32.905c-14.461,45.473-35.605,88.542-62.737,127.795#}
{#			                                                    c65.014-5.973,124.731-38.355,165.205-89.583L416.785,381.013z"/>#}
{#                                                        </g>#}
{#                                                    </g>#}
{#                                                    <g>#}
{#                                                        <g>#}
{#                                                            <path fill="#222222" d="M50.893,89.856l8.482,5.291c29.075,16.579,60.921,27.734,93.986,32.922c14.465-45.477,35.609-88.551,62.737-127.812#}
{#			                                                    C151.085,6.243,91.371,38.629,50.893,89.856z"/>#}
{#                                                        </g>#}
{#                                                    </g>#}
{#                                                    <g>#}
{#                                                        <g>#}
{#                                                            <path fill="#222222" d="M136.329,255.147H0c2.535,36.278,13.372,71.488,31.676,102.912l9.643-6.007c31.868-18.474,66.814-31.032,103.151-37.069#}
{#			                                                    C140.091,295.299,137.368,275.284,136.329,255.147z"/>#}
{#                                                        </g>#}
{#                                                    </g>#}
{#                                                </svg>#}
{#                                            </a>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{{ path('shops') }}" class="btn btn-black">Tous les commerces</a>
                </div>
            </div>
        </section>

        <section class="home-events py-5">
            <div class="container">
                <header class="home-events__header mt-4">
                    <h2 class="section-title">Les restaurants Côté Stade</h2>
                </header>
                <div class="home-events__events">
                    <div class="row">
                        {% for restaurant in restaurants %}
                            <div class="col-md-4 mb-4">
                                <div class="shop-card">
                                    <a href="{{ path('adherent_show', {'id': restaurant.id}) }}"
                                       class="shop-card__thumbnail">
                                        <img src="{{ asset( 'images/' ~ restaurant.background) }}" alt="Logo"/>
                                    </a>
                                    <div class="shop-card__content">
                                        <div class="shop-card__content-header">
                                            <h3 class="shop-card__title">{{ restaurant.name }}</h3>
                                            <div class="shop-card__address">{{ restaurant.address }}</div>
                                        </div>
                                        <div class="shop-card__content-main">
                                            <div class="shop-card__description">
                                                {{ restaurant.description|slice(0, 100) }}
                                                <a href="{{ path('adherent_show', {'id': restaurant.id}) }}">[...]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="{{ path('restaurants') }}" class="btn btn-black">Tous les restaurants</a>
            </div>
        </section>

    </div>
{% endblock %}
