{% extends 'base.html.twig' %}

{% block title %}Privatisation index{% endblock %}

{% block body %}
    <section class="about-us pb-4">
        <div class="container">
            <h2 class="about-us-title">Lieux privatisables</h2>
            <p class="about-us-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus autem, beatae consequuntur
                distinctio doloribus enim error est expedita explicabo facilis.
            <p>
        </div>
    </section>
    <section class="privatizations">
        {% for privatization in privatisations %}
            <div class="privatization-card">
                <div class="privatization-card__adherent">{{ privatization.adherent }}</div>
                <div class="privatisation-card__address">{{ privatization.address }}</div>
            </div>
        {% endfor %}
    </section>

    <h1>Privatisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Capacite</th>
                <th>Surface</th>
                <th>Service</th>
                <th>Annonce</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for privatisation in privatisations %}
            <tr>
                <td>{{ privatisation.id }}</td>
                <td>{{ privatisation.capacite }}</td>
                <td>{{ privatisation.surface }}</td>
                <td>{{ privatisation.service }}</td>
                <td>{{ privatisation.annonce }}</td>
                <td>
                    <a href="{{ path('privatisation_show', {'id': privatisation.id}) }}">show</a>
                    <a href="{{ path('privatisation_edit', {'id': privatisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('privatisation_new') }}">Create new</a>
{% endblock %}
