{% extends 'base.html.twig' %}

{% block title %}Privatisation index{% endblock %}

{% block body %}
    <h1>Privatisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Capacite</th>
                <th>Surface</th>
                <th>Service</th>
                <th>Annonce</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for privatisation in privatisations %}
            <tr>
                <td>{{ privatisation.id }}</td>
                <td>{{ privatisation.capacite }}</td>
                <td>{{ privatisation.surface }}</td>
                <td>{{ privatisation.service }}</td>
                <td>{{ privatisation.annonce }}</td>
                <td>
                    <a href="{{ path('privatisation_show', {'id': privatisation.id}) }}">show</a>
                    <a href="{{ path('privatisation_edit', {'id': privatisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('privatisation_new') }}">Create new</a>
{% endblock %}
